/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* Main Styling */

body {
  background: pink;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-content {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

/* Header */

.page-header {
  grid-column: 1 / -1;
  border: 1px solid black;
  text-align: center;
}

header > h1 {
  font-size: 2rem;
}

/* Player Info */

.player-info {
  background: chartreuse;
}

.player1-info {
  grid-column: 1 / 4;
}

.player2-info {
  grid-column: 8 / -1;
}

/*Board*/

.board {
  background: red;
  grid-column: 4 / -4;
  grid-row: 2 / -2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
  font-size: 5em;
}

/* Form */

.form-overlay {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgba(146, 95, 95, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.close-form {
  display: none;
}

.form-overlay > form {
  background: green;
  padding: 6rem;
}

/* Win Overlay */

.win-overlay {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgba(146, 95, 95, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.open-win-overlay {
  display: flex;
}

.win-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 60%;
  background-color: blue;
}

/* Meida Queries */

@media (max-width: 900px) {
  .board {
    grid-column: 2 / -2;
  }
  /* WEIRD SQUARE SIZING NEED TO FIX */
}

@media (max-width: 500px) {
  .board {
    grid-row: 3 / -3;
  }
}